AIRFLOW_VAR_STEAM_API_KEY=<steam_api_key>
TWITCH_CLIENT_ID=<twitch_client_id>
TWITCH_CLIENT_SECRET=<twitch_client_secret>
TELEGRAM_BOT_TOKEN=<telegram_bot_token>
TELEGRAM_CHAT_ID=<telegram_chat_id>
HOST_BIND_IP=0.0.0.0
TRINO_BIND_IP=0.0.0.0
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_SECOND_ADMIN_USERNAME=admin2
MINIO_ROOT_USER=admin
MINIO_SECOND_ADMIN_USER=admin2
METASTORE_DB_USER=hive
METASTORE_DB_PASSWORD=<metastore_db_password>
METASTORE_DB_NAME=metastore
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=<airflow_db_password>
AIRFLOW_DB_NAME=airflow
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=<superset_db_password>
SUPERSET_DB_NAME=superset
SUPERSET_SECRET_KEY=<superset_secret_key>
SUPERSET_ADMIN_EMAIL=admin@example.com
AIRFLOW__CORE__FERNET_KEY=<airflow_fernet_key>
AIRFLOW__WEBSERVER__SECRET_KEY=<airflow_webserver_secret_key>
